nav {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}
footer{
    width: 100%;
    text-align: center;
    position: relative;
    display: grid;
}
h2{
    text-align: center;
}
section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   padding: 30px;
}

section img {
    height: 100px;
    width: 100px;
    
}