body{
    background-color:lightseagreen;
}
main{
    border: 5px solid;
    border-color:white;
    width: 80%;
    margin: 0 auto;
}
h1{
    color: White;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding: 20px;
}

nav {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}
nav a{
    width: 100%;
   margin: 50px;
    font-size:xx-large;
    font-weight: bolder;
    color: white; 
}
p{
    text-align: right;
    margin: auto;
    color: white;
    font-size: large;
}
figure{
    border: 5px solid;
    border-color: white;
}
h2{
    text-align: center;
    color: White;
    font-size: xx-large;
    margin-bottom: 20px;
}
section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   padding: 30px;
   margin-bottom: 275px;
   margin-top: 125px;
}

section img {
    height: 300px;
    width: 300px;
    border: 5px solid;
    border-color: white;
    float: left;
}

article {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   padding: 30px;
}
footer {
    padding: 20px;
    font-size:xx-large;
}
h3{
    display: inline-block;
    padding: 60px;
    margin-left: 65px;
    color: white;
}
h3 a{
    text-decoration: none;
    color:White;
}