/*Setting the parameters for the main part of my page*/
main {

    width: 80%;
    margin: 0 auto;
}

/*The settings for my h1 header*/
h1 {
    color: White;
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding: 20px;
}

/*This will be the settings for the nav bar that hold my internal links*/
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

/*These are the settings for the internal links in my nav bar*/
nav a {
    width: 100%;
    margin: 100px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;

}

/*These are the settings for the paragraph in the section part of my page*/
p {
    text-align: center;
    color: white;
    font-size: xx-large;
    padding: 5px;

}

/*settings for my h2 headers*/
h2 {
    text-align: center;
    color: White;
    font-size: 50px;
    margin-bottom: 20px;
}

/*These are the settings for the area I made as section*/
section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 125px;
    border: 5px solid;
    border-color: white;
}

/*These are the settings for the image in my area section which is the picture of me*/
section img {
    height: 300px;
    width: 300px;
    border: 5px solid;
    border-color: white;
    float: left;
    margin-right: 20px;
}

/*The settings for article which is the area with figure in it which contains the image and link to horiseon seo project*/
article {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 5px solid;
    border-color: white;
}

/*These are the settings for the area that contain the other 4 project pictures and links*/
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/*Taking the text decoration off of the caption I put into the image in figure*/
figure a {
    text-decoration: none;
}

/*These are the settings for all the div classes I have.*/
.seo-refactor {
    background-image: url(../images/Horiseon-Search-Engine-Optimization.png);
    height: 500px;
    width: 53%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 5px solid;
    border-color: darkblue;

}

.seo-refactor h4 {
    color: white;
}


.google {
    background-image: url(../images/download.jpg);
    background-repeat: no-repeat;
    height: 150px;
    width: 275px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 5px solid darkblue;
}

.bing {
    background-image: url(../images/download\ \(1\).jpg);
    height: 150px;
    width: 275px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    border: 5px solid darkblue;

}

.twitter {
    background-image: url(../images/download\ \(2\).jpg);
    height: 150px;
    background-repeat: no-repeat;
    width: 275px;
    margin-bottom: 20px;
    border: 5px solid darkblue;
}

.yahoo {
    background-image: url(../images/_121315196_gettyimages-1232679167.jpg);
    height: 150px;
    width: 275px;
    background-repeat: no-repeat;
    border: 5px solid;
    border-color: darkblue;
    margin-bottom: 20px;
}

/*These are the settings for all the captions in the pictures in my div classes*/
.yahoo h4 {
    color: white;
}

.twitter h4 {
    color: white;
}

.bing h4 {
    color: black;
}

.google h4 {
    color: black;
}

div a {
    text-decoration: none;
}

/*The settings for the footer of my page*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 5px solid;
    border-color: white;
    margin-top: 100px;
}

/*The settings for the content within my footer*/
h3 {
    display: inline-block;
    padding: 60px;
    margin-left: 65px;
    color: white;
}

/*The settings for the hyperlink in the contact me area in my footer (my github is the hyperlink)*/
h3 a {
    text-decoration: none;
    color: White;
}

/*All of my media querys to make this page mobile responsive*/
@media only screen and (max-width: 768px) {
    aside {
        flex-direction: column
    }
}

@media only screen and (max-width: 768px) {
    section {
        flex-direction: column
    }
}

@media only screen and (max-width: 1150px) {
    footer {
        flex-direction: column
    }
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    section img {
        flex-direction: column
    }
}

nav a:hover {
    font-size: 55px;
}

h3 a:hover {
    font-size: 55px;
}